/.venv/
/.idea/
/reports/
/.vscode/settings.json
__pycache__/
QA_Metrics/reports/ReSharper_Quality_Report.md
/node_modules/
/diagrams/
NETPM/9773cf25-2194-4ae2-96c0-c2ed3b272c7c.png
NETPM/bc8c0566-4a13-4a69-9902-66b4970c21d6.png
